{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
          <table id="taskTable" class="table table-striped">
            <thead>
              <tr>
                <th style="width:5%">Id</th>
                <th>Task</th>
              </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.label }}</td>
					<td><button name="deleteBtn" class="btn btn-sm btn-danger" task-id="{{ task.id }}">Delete</button></td>
					<td><button name="completeBtn" class="btn btn-sm btn-success" task-id="{{ task.id }}">Complete</button></td>
                </tr>
                {% endfor %}
                <tr>
                    <form id="myForm" method="post" action="">
                        <td colspan="2">
                            <input type="textbox" name="label" class="small-6 small-center" placeholder="New task description..."> <button type="submit" class="btn btn-sm btn-primary">Add</button>
                        </td>
                    </form>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

	<script type="text/javascript">
	$( document ).ready(function(){
		$("#myForm").submit(function(e){
			$.post( "{{app.request.baseurl }}/add", {label: $("input[name='label']").val()}, function(data) { 
					if(typeof(data.error) == "undefined")
						$("#taskTable tr:last").before("<tr><td>" + data.Id + "</td><td>" + data.label + "</td>"+
						"<td><button name=\"deleteBtn\" class=\"btn btn-sm btn-danger\" task-id=\"" + data.Id + "\">Delete</button></td>" + 
						"<td><button name=\"completeBtn\" class=\"btn btn-sm btn-success\" task-id=\"" + data.Id + "\">Complete</button></td></tr>"
						); 
					else
						$("#taskTable tr:last td:last").append("<span id='errorMsg'>" + data.error + "</span>");
				}, "JSON");
			e.preventDefault();
		});
		
		$(document).on("click", "button[name='deleteBtn']", function(e){
			var self = this;
			$.post( "{{app.request.baseurl }}/delete", {Id: $(this).attr("task-id")}, function(data){
					 $(self).parent().parent().remove();
			}, "JSON");	
			//console.log(   $(this).attr("task-id") )   
		});
		
		
		$(document).on("click", "button[name='completeBtn']", function(e){
			var self = this;
			$.post( "{{app.request.baseurl }}/complete", {Id: $(this).attr("task-id")}, function(data){
					console.log("bbbb");
			}, "JSON");
		});
		
		
	});
	</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
